
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),data:{turbo:false }) do |f| %>
    <div class="">

    <!-- Sign up form -->
    <section class="">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <form method="POST" class="register-form" id="register-form">
              <div class="form-group">
                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <!--              <input type="text" name="name" id="name" placeholder="Your Name"/>-->
                <%= f.text_field :username, placeholder: "Full Name" %>
              </div>
              <% if alert %>
                <div class="alert alert-danger">
                  <%= alert %>
                </div>
              <% end %>
              <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %>
              </div>
              <% if alert %>
                <div class="alert alert-danger">
                  <%= alert %>
                </div>
              <% end %>
              <div class="form-group">
                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %>
              </div>
              <% if alert %>
                <div class="alert alert-danger">
                  <%= alert %>
                </div>
              <% end %>
              <br>
              <div class="form-group">
                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Confirm Password" %>
              </div>

              <div class="ui selection dropdown mb-4">
                <%= f.hidden_field :department_id %>
                <i class="dropdown icon"></i>
                <div class="default text">Departments</div>
                <div class="menu scrolling">
                  
                  <%= f.select :department_id, Department.all.map{ |department| [department.name.capitalize, department.id] }, {}, class: "ui item selection dropdown" %>
                </div>
              </div>

              <% if alert %>
                <div class="alert alert-danger">
                  <%= alert %>
                </div>
              <% end %>

              <div class="ui selection dropdown">
                <%= f.hidden_field :roles %>
                <i class="dropdown icon"></i>
                <div class="default text">Role</div>
                <div class="menu scrolling">
                  <%= f.select :roles, User.roles.keys.reject { |role| role == 'admin' }.map { |role| [role.capitalize, role] }, {}, class: "ui item selection dropdown" %>
                </div>
              </div>
              <% if alert %>
                <div class="alert alert-danger">
                  <%= alert %>
                </div>
              <% end %>
              <br/>
              <% if @user.errors.any? %>
                <div class="alert alert-danger">
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>


              <br/>
              <div class="form-group form-button">
                <%= f.submit "Sign up",class: "form-submit" %>
              </div>
            </form>
          </div>
          <div class="signup-image">
            <figure><img <%= image_tag "signup-image.jpg" %> </figure>
            <a href="#" class="signup-image-link"> <%= link_to "If you already Signup Login",new_user_session_path,class: "signup-image-link",style:";position:relative;text-decoration:none;"%> </a>
            <%#= link_to "Login",new_user_session_path,class: "signup-image-link"%>
          </div>
        </div>
      </div>
    </section>

    <!-- Sing in  Form -->


  </div>
<%end %>
