<%= form_with(model: [dep_class, class_course_slot], url: department_dep_class_class_course_slots_path(department, dep_class)) do |form| %>
  <% if class_course_slot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(class_course_slot.errors.count, "error") %> prohibited this class_course_slot from being saved:</h2>
      <ul>
        <% class_course_slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="ms-5 ps-3">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Add Course In Class</h2>
          <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name fs-5"></i></label>
                <div class="mt-4 ui selection dropdown">
                  <%= form.hidden_field :teacher_course_id %>
                  <i class="dropdown icon"></i>
                  <div class="default text fs-5">Courses</div>
                    <div class="menu scrolling">
                      <% department.courses.each do |course| %>
                        <% course.teacher_courses.each do |teacher_course| %>
                          <% teacher = teacher_course.teacher %>
                          <div class="item" data-value="<%= teacher_course.id %>">
                            <%= "#{course.courseName.capitalize} - #{teacher.name}" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
            <div class="ui selection dropdown">
              <%= form.hidden_field :days %>
              <i class="dropdown icon"></i>
              <div class="default text">Select Day</div>
              <div class="menu scrolling">
                <%= form.select :days, ClassCourseSlot.days.map { |day,value| [day.capitalize, day] }, {}, class: "ui item selection dropdown" %>
              </div>
            </div>

              <%= form.hidden_field :slot_id, value: 1 %>

              <div class="form-group form-button">
                <%= form.submit "Create Class", class: "form-submit fs-5" %>
              </div>
          </form>
          <div>
            <!-- Element to display the selected teacher_course_id -->
            <p id="selected-course-id"></p>
            <%= link_to "Back to Class Courses", department_dep_class_path(department, dep_class) %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

