<div id="<%= dom_id dep_class %>">
  <p>
    <strong>Name:</strong>
    <%= dep_class.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= dep_class.room_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= dep_class.department_id %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= dep_class.strength %>
  </p>

</div>
