<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>


<%= form_with(model: department) do |form| %>
  <%# if department.errors.any? %>
<!--    <div style="color: red">-->
<!--      <h2><%#= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>-->

<!--    </div>-->
  <%# end %>
  <section class="">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Create New Course</h2>
        <form method="POST" class="register-form" id="register-form">
          <div class="form-group">
            <label for="name"><i class="zmdi zmdi-account material-icons-name fs-5"></i></label>
            <div class="form-group">
                  <%#= form.label :courseName, style: "display: block" %>
                  <%= form.text_field :name,placeholder: "Department Name",class: "fs-5"%>
            </div>
            <% if department.errors.has_key?(:name) %>
              <div class="alert alert-danger">
                <%= department.errors.full_messages_for(:name).join(", ") %>
              </div>
            <% end %>

           
            <div class="form-group form-button">
              <%= form.submit "Create Department",class: "form-submit fs-5" %>
            </div>


          </div>
        </form>
        <div>
          <%= link_to "Back to Departments", departments_path %>
        </div>
      </div>
    </div>
  </div>

</section>
<% end %>
