<p style="color: green"><%= notice %></p>

<%= render @department %>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>
  <%= link_to "Add Course",new_department_course_path(department_id: @department.id) %>
  <%= link_to "Add Teacher",new_department_teacher_path(department_id: @department.id) %>
  <%= button_to "Destroy this department", @department, method: :delete %>
</div>

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <%= link_to "Teachers",department_teachers_path(department_id: @department.id), class: "btn btn-primary" %>
    </div>
    <div class="col-auto">
      <%= link_to "Courses", department_courses_path(@department), class: "btn btn-primary" %>
    </div>
  </div>

  <h2 class="mt-4">Teachers Information</h2>
  <table class="table mt-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Teacher Name</th>
      <th scope="col">Department</th>
      <th scope="col">Subject</th>
    </tr>
    </thead>
    <tbody>
    <% @department.teachers.all.each.with_index(1) do |teacher, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= teacher.name %></td>
        <td><%= teacher.department.name %></td>
        <td>
          <div class="ui selection dropdown">
            <i class="dropdown icon"></i>
            <div class="default text fs-5 ms-5">Courses</div>
            <div class="menu scrolling">
              <% teacher.courses.each do |course| %>
                <div class="item" data-value="<%= course.id %>"><%= course.courseName.capitalize%></div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
