<%= form_for @makeup do |form| %>
  <% if @makeup.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@makeup.errors.count, "error") %> prohibited this class_course_slot from being saved:</h2>
      <ul>
        <% @makeup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="ms-5 ps-3">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Add Course In Class</h2>
          <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
              <div class="mt-4 ui selection dropdown">
                <%= form.hidden_field :dep_class_id, id: 'selected-dep-class-id' %>
                <i class="dropdown icon"></i>
                <div class="default text fs-5">Classes</div>
                <div class="menu scrolling">
                  <%= form.select :dep_class_id, @department.dep_classes.all.map { |dep_class| [dep_class.name.capitalize, dep_class.id] },
                                  {}, class: "ui item selection dropdown", id: 'dep-class-dropdown' %>
                </div>
              </div>

              <div class="mt-4 ui selection dropdown">
                <%= form.hidden_field :teacher_course_id %>
                <i class="dropdown icon"></i>
                <div class="default text fs-5">Courses</div>
                <div class="menu scrolling">
                  <% @department.courses.each do |course| %>
                    <% course.teacher_courses.each do |teacher_course| %>
                      <% teacher = teacher_course.teacher %>
                      <div class="item" data-value="<%= teacher_course.id %>">
                        <%= "#{course.courseName.capitalize} - #{teacher.name}" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <% if alert %>
              <div class="alert alert-danger">
                <%= alert %>
              </div>
            <% end %>

            <%= form.hidden_field :slot_id, value: 1 %>
            <%= form.hidden_field :status, value: 0%>

            <div class="form-group form-button">
              <%= form.submit "Create Class", class: "form-submit fs-5" %>
            </div>
          </form>
          <div>
            <!-- Element to display the selected dep_class_id -->
            <p id="selected-class-id"></p>
            <!-- link_to "Back to Class Courses", department_dep_class_path(department, dep_class) -->
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script>

</script>
