<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Create New Teacher</h2>
          <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
              <label for="name"><i class="zmdi zmdi-account material-icons-name fs-5"></i></label>
              <div class="form-group">
                <%#= form.label :courseName, style: "display: block" %>
                <%= form.text_field :name,placeholder: "Teacher Name",class: "fs-5"%>
              </div>

              <div class="ui selection dropdown">
                <%= form.hidden_field :department_id %>
                <i class="dropdown icon"></i>
                <div class="default text fs-5">Departments</div>
                <div class="menu scrolling">
                  <%= form.select :department_id,Department.all.map { |department| [department.name.capitalize, department.id] },
                                  {}, class: "ui item selection dropdown" %>
                </div>
              </div>

              <div class="form-group form-button">
                <%= form.submit "Create Teacher",class: "form-submit fs-5" %>
              </div>


            </div>
          </form>
          <div>
            <%= link_to "Back to Teachers", teachers_path %>
          </div>
        </div>
      </div>
    </div>

  </section>
<% end %>
