<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= link_to "Edit this teacher", edit_department_teacher_path(@teacher.department_id,@teacher) %> |
  <%= link_to "Back to teachers", department_teachers_path %>

  <%= button_to "Destroy this teacher", department_course_path(@teacher), method: :delete %>
</div>
