<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_department_room_path(@room) %> |
  <%= link_to "Back to rooms", department_rooms_path %>

  <%= button_to "Destroy this room", department_room_path(@room), method: :delete %>
</div>
